*{
	box-sizing:border-box;
}

#search-bar{
	width:20vw;
}

#job-board{
	border-top:solid #747373 1px;
	margin:0 auto;
	margin-top:75px;
}

#job-list{
	clear:both;

}

.underline-input{
	border:none;
	border-bottom:solid #616161 1px;
}

.job-item{
	width:100%;
	height:75px;
	border:solid black 1px;
}

.job-short-description{
	margin-left:50px;
	margin-top:10px;

}

.clear-both{
	clear:both;
	float:left;
}

.sm-font{
	font-size:14px;
}

.comp-logo{
	max-width:200px;
	max-height:75px;
	margin-top:10px;
	float:right;
}

.job-category{
	margin-top:-10px;
}