*{
	box-sizing:border-box;
}

#myperformance{
	margin:0 auto;
}

.divider{
	
}

#performance-section{
	max-height:600px;
	
}

.sub-section{
	border:solid #BDBDBD 1px;
	height:600px;
	max-height:600px;
	border-bottom:none;
	border-right:none;
	overflow-y:auto;
	opacity:.5;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
}

.sub-section:hover{
	opacity:1;
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.rating-star{
	margin-top:-25px;
}

#suggestion-list li{
	padding:10px;
	border-bottom:solid #B0AEAE 1px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	min-height:100px;
}

#suggestion-list li:hover{
	border-bottom:solid white 1px;
	color:#EC9A1A;
}

.profpic{
	height:75px;
	width:75px;
}